/*blauw: #4280b1; */


body
{ 

	font-family: Helvetica, Arial,sans-serif;
	
}

ul li{
	list-style-type: none;
}

a {
	text-decoration: none;
}

#content {
	width: 286px;
	height: 510px;
	background-color:white;
	margin-left: auto;
	margin-right: auto;
	
}

#feedback_success
{
	background-color: #45e589;
	color: white;
	padding:1px;
	font-size:1.0em;
}

#feedback_success h1
{
	padding-left:10px;
	font-size:1.0em;
}

#feedback_error
{
	background-color: #ff5555;
	color: white;
	padding:1px;
}

#feedback_error h1
{
	padding-left:10px;
	font-size:1.0em;
}



#login, #signup, #container, #rwm
{
	width: auto;
	margin-left:5%;
	margin-right: 5%;
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	border-radius: 10px;
}

#signup {
margin-bottom:20px;
}


#signup h2, #login h2
{
	font-weight: normal;
	font-size: 1.1em;
	color: #4280b1;
	
}

#login p, #signup p {
	color:gray;
margin-left:auto;
margin-right:auto;
width:200px;
}

#login p a, #signup p a {
	color: gray;
	font-weight: bold;
	
}

#login p a:hover, #signup p a:hover {
	color: #4280b1;

}

#login h2 span, #signup h2 span
{
	font-weight:bold;
}



#signup input, #login input
{
	display: block;
	width: 100%;
	margin-bottom: 10px;
	border-radius:5px;
	border: 1px solid #cccccc;
	padding: 10px;
	
}

form input[type=text], form input[type=password], form input[type=tel], form input[type=email], #signup #bio
{
	
	width: 100%;
	font-size: 1.0em;
	color:  #4280b1;
	text-decoration: none;
	font-family: Helvetica;
}

#view_login
{
	background-color: #fdbd2d;
	border: 1px solid #fd9e28;
	
}

#signup input[type=submit], #view_create
{
	
	background-color: #fdbd2d;
	border: 1px solid #fd9e28;
	
}


nav
{
	background-color: #2d2d2d;
	padding: 8px 10px;
	text-align: right;
	height: 25px;
	border-bottom: 1px solid black;
}

#nav_left, #nav_right {
	background-color: #c74146;
	border: none;
	border-radius: 5px;
	width: 100px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	padding: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#nav_left {
	float: left;
}

#nav_right {
	float: right;

}

label
{
	color: #999999;
	font-size: 14px;
}

#logo {
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;
}

#logo img {
	width: 70%;
	height: 70%;
}

#nav_title {
	float: left;
	margin-top:-1px;
	margin-right:auto;
	margin-left:auto;
	color: white;
	font-size: 1.3em;
}

/*************/
/* Side menu */
/*************/

#build-menu-page {
  	left: 0;
  	position: relative;
  	background-color: #000;
}

#build-menu {
	visibility: visible;
	z-index: 0;
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	-ms-transform: none;
	transform: none;
	display: none;
	width: 260px;
  	padding: 0;
  	position: static;
  	z-index: 0;
  	top: 0;
  	height: 100%;
  	overflow-y: auto;
  	left: 0;
}

.build-menu-animating #build-menu-page {
	position: fixed;
	overflow: hidden;
	width: 100%;
	top: 0;
	bottom: 0;
}

.build-menu-animating.build-menu-close #build-menu-page,
.build-menu-animating.build-menu-open #build-menu-page {
	-webkit-transition: -webkit-transform 250ms;
	-moz-transition: -moz-transform 250ms;
	-o-transition: -o-transform 250ms;
	-ms-transition: -ms-transform 250ms;
	transition: transform 250ms;
}

.build-menu-animating.build-menu-open #build-menu-page {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.build-menu-animating #build-menu { display: block }

.build-menu-open #build-menu {
	display: block;
	-webkit-transition-delay: 0ms, 0ms, 0ms;
	-moz-transition-delay: 0ms, 0ms, 0ms;
	-o-transition-delay: 0ms, 0ms, 0ms;
	-ms-transition-delay: 0ms, 0ms, 0ms;
	transition-delay: 0ms, 0ms, 0ms;
}

.build-menu-open #build-menu,
.build-menu-close #build-menu {
	-webkit-transition: -webkit-transform 250ms, opacity 250ms, visibility 0ms 250ms;
	-moz-transition: -moz-transform 250ms, opacity 250ms, visibility 0ms 250ms;
	-o-transition: -o-transform 250ms, opacity 250ms, visibility 0ms 250ms;
	-ms-transition: -ms-transform 250ms, opacity 250ms, visibility 0ms 250ms;
	transition: transform 250ms, opacity 250ms, visibility 0ms 250ms;
}
#main-nav {
	display: none;
}
#mobile-bar {
	background: none;
	float: left;
	border: none;
	font-weight:100;
	margin-top: -39px;
	margin-right: -100px;
	margin-left: 10px;
}
#mobile-bar a {
	text-decoration: none;
	color: #4280b1;
	font-weight: bold;
	font-size: 15pt;
}


#build-menu {
	background-color: #f2f2f2;
    border: 1px solid #cccccc;
   	width:200px;
}

#build-menu ul li a {
	
         color: black;
      
         
            text-decoration: none;
           
}

#build-menu ul li span {
	
        float:right;
           font-size:1.3em;
      
}

#build-menu ul li #you {
	
         color: #4280b1;
         /*   text-shadow: 0 1px 0 #000;*/
		
            text-decoration: none;
           
}


#build-menu ul li  {
	margin: 0 0 0px -40px;
	width: 100%;
	/*background-color:#2092CA;*/
            padding: 15px;
          
    		border-bottom: 1px solid #cccccc; }
            text-shadow: 0 1px 0 #000;
        
            text-decoration: none;
			
}

#build-menu ul li img{
	width: 15px;
	height:15px;
}

#build-menu ul li:hover, #build-menu ul li:focus, #build-menu ul li:active {
	  background-color:  #ffffff; }
	  
#build-menu ul #bar_username:hover {
	background:none;
}

#bar_username
{
	font-weight:bold;
	}	  
	  
.ui-li
{
	 color: #f6b205;
	text-shadow: none;
	font-family:helvetica;
	font-style: normal;
	
}

#settings {

	width: 17px;
	height:17px;
}

#you
{
color:red;
}


/* CSS SWIPE */

/* Swipe 2 required styles */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;

}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap img {
max-width:75px;
margin-top:5px;
border-radius: 7px;
border: 5px solid #4280b1;

}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
   background-color: black;
    height:200px;
}



.swipe-wrap > div #slide2,.swipe-wrap > div #slide3, .swipe-wrap > div #slide4{
  margin-top:50px;

  font-size:0.9em;
  line-height:1.7em;
}

.swipe-wrap p {
 color:white;
 text-decoration:none;
  margin-top:-20px;
  font-family: helvetica, arial;
   font-weight:normal;
}

.swipe-wrap #name {
color:#7E342A;
font-weight:bold;
text-shadow:none;
font-size:1.2em;
}

.swipe-wrap #username span { 
	color:#4280b1;
	font-weight:bold;
	text-shadow: none;
}

.swipe-wrap p span {
 color:white;
 text-decoration:none;
  margin-top:-20px;
  font-family: helvetica, arial;
  font-style:italic;
  font-weight:normal;
}

#mySwipe div b {
  display:block;
  color:#14ADE5;
  text-align:center;
  margin:5px;

}

.swipe #left {
	float:left;
	height:20px;
	width:50%;
	background-color:#4280b1;
}

.swipe #right {
	float:left;
	height:20px;
	width:50%;
	background-color:#328cd3;
}

#saved {
	width:100%;
	padding-top:40px;
	padding-bottom:15px;
	padding-left:5px;
	padding-right:5px;
	background-color: #75b6e9;
	text-align:center;	
	text-shadow: none;
	font-style:italic;
	color:white;
}

#saved span {
	font-weight:bold;
}

#profile_links {
	margin-top:10px;
	text-align: center;
	margin-left:auto;
	margin-right: auto;
}

#profile_links img {
	width:130px;
}

#bio {

width:97%;
}

/* username check login */

div.usernameFeedback
{
	display: none;
	max-width: 270px;
	margin-top:20px;
	margin-bottom:20px;
	
}

.ok
{
	background-color: #45e589;
	color: white;
	padding:10px;
	font-size:1.2em;
}

.notok
{
	background-color: #ff5555;
	color: white;
	padding:10px;
	font-size:1.2em;
}


#ride_reactions {
margin-left:-25px;
}	

#comments {
	background-color: #5bb75b;
	color:white;
	font-weight:bold;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom:10px;
	margin-top:50px;
}


#listupdates {
	width: auto;
	height: auto;
	margin-top: 30px;
	padding-bottom: 20px;
	font-family: arial;
	font-size: 1em;
	color: black;
	list-style:none;
	
}

#listupdates .user  {
	padding: 3px;
	padding-right: 10px;
	color: #50494e;
	font-weight: bold;
	
	margin-bottom: 20px;
	background-color: red;
	height: 20px;
	text-align: right;
	background-color: #e9e9e9;

}

#listupdates .description {
	padding: 10px;
	margin-bottom: 2px;
	color: black;
	
	height: auto;
	
	text-align: justify;
	line-height: 1.5em;
}

.active {
	font-weight:bold;
	color:#4280b1;
	font-size:1.1em;
}

.notactive {
	

	font-size:1.2em;
	color:#c7c7c7;
}
iframe {
	width: 90%;
	height: 180px;
	margin: 0;
	padding: 0;
	margin: -40px -5px 0 0;
}

#friend_requests button{
	width: 20px;	
	
}

#friend_requests
{
	
	width:100%;
	
	margin-left: 10px;
	
	margin-left:-5px;

}

#friend_requests div
{border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
	background-color:#efeeee;
	padding: 5px;
	margin-bottom:10px;
	border: 0px;
}

#friends div
{
	border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
	background-color:#efeeee;
	padding: 5px;
	margin-bottom:10px;
	border: 0px;
	padding-left: 20px;
}

#bg
{
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	min-height: 800px;
}

