html
{
	
	background-image:url('../img/wallpaper.jpg');
}
body
{ 

	font-family: "Helvetica Neue",Helvetica, Arial,sans-serif;
}

#bg {
	background-image: url('../img/iphone.png');
	background-repeat: no-repeat;
	width: 339px;
	height: 732px;
	padding-top:121px;
}

#content {
	width: 286px;
	height: 510px;
	background-color:white;
	margin-left: auto;
	margin-right: auto;
	
}

#feedback {
	font-size: 0.4em;
	color: red;
	font-style: italic;
	height: 35px;
}

#login, #signup, #container, #rwm
{
	width: auto;
	margin-left:5%;
	margin-right: 5%;
	padding-top: 25px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 15px;
	background-color: #f5f5f5;
	border-radius: 10px;
	margin-top: 30px;
}

#signup h2, #login h2
{
	font-weight: normal;
	font-size: 1.1em;
	border-bottom: 1px solid #e2e2e2;
}
#signup input, #login input
{
	display: block;
	width: 95%;
	margin-bottom: 10px;
	border-radius:5px;
	border: 1px solid #cccccc;
	padding: 5px;
}
#signup input[type=submit], #login input[type=submit], #view_login, #view_create, #view_fb, #tweet
{
	border-radius: 3px;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fee2bf;
	color: black;
	text-decoration: none;
	text-shadow: 1px 1px white;
}

#view_fb
{
	
	background-color:#3f5a92;
	border: 1px solid #3f5a92;
}

#view_login, #tweet
{
	background-color: #fdbd2d;
	border: 1px solid #fd9e28;
	
}

#signup input[type=submit], #view_create, #tweet
{
	
	background-color: #fdbd2d;
	border: 1px solid #fd9e28;
	
}

#login input[type=submit], #view_login
{
	background-color: #2bb6ea;
	border: 1px solid #2092ca;
}

#login input[type=checkbox]
{
	display: inline;
	width: auto; 
}
nav
{
	background-color: #2d2d2d;
	padding: 8px 10px;
	text-align: right;
	height: 25px;
	border-bottom: 1px solid black;
}


#nav_left, #nav_right {
	background-color: #c74146;
	border: none;
	border-radius: 5px;
	width: 100px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	padding: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#nav_left {
	float: left;
}

#nav_right {
	float: right;

}

label
{
	color: #999999;
	font-size: 14px;
}

#rwm_view_logo {
	text-align:center;
	padding-top:30px;
}

#rwm_view_logo img {
		width: 30%;
	height: 30%;
}


		
			#rwm textarea {
				width: 225px;
				height:75px;
			}
			.tweets {
				color: black;
			}
		
			#nav_title {
				float: left;
				margin-top:-1px;
				margin-right:auto;
				margin-left:auto;
				color: white;
				font-size: 1.3em;
			}
